
<div>
    <p><a class="btn btn-primary" target="_blank"  href="http://snap.berkeley.edu/run/">
        </i> Run Snap!
    </a></p>
</div>

<div>
    <p><a class="btn btn-primary" target="_blank"  href="https://hennepintech.ims.mnscu.edu/d2l/home/2828071">
        <i class=" fa fa-university fa-lg"></i>&nbsp;&nbsp; Course D2L Site&nbsp;&nbsp;
    </a></p>
</div>

<div>
    <p><a href="https://github.com/htc-ccis1505" target="_blank" class="btn btn-primary"><i class="fa fa-github fa-lg"></i>&nbsp;&nbsp; Course on GitHub
    </a></p>
</div>

<div>
    <p><a class="btn btn-primary" target="_blank"  href="https://gitter.im/htc-ccis1505">
        <i class="fa fa-group fa-lg"></i>&nbsp;&nbsp; Gitter Chat Room
    </a></p>
</div>



<!--  No need for these at the moment
<h3>Links &amp; Resources</h3>
<ul>
    <li><a href="https://validator.w3.org/" target="_blank">W3C HTML Validator</a></li>
    <li><a href="http://jigsaw.w3.org/css-validator/" target="_blank">W3C CSS Validator</a></li>
    <li><a href="http://www.w3schools.com/tags/default.asp" target="_blank">HTML Tag Reference</a></li>
    <li><a href="http://www.w3schools.com/cssref/default.asp" target="_blank">CSS Reference</a></li>
    <li><a href="http://www.lipsum.com/" target="_blank">Lorem ipsum</a></li>
    <li><a href="http://paletton.com/" target="_blank">Paletton Color Designer</a></li>
    <li><a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">Font Awesome Icons</a></li>
    <li><a href="https://icomoon.io/" target="_blank">Icomoon</a></li>
    <li><a href="http://brackets.io/" target="_blank">Brackets Editor</a></li>
</ul>
-->

{% include author.html %}
