---
layout: page
---

{{ content }}

<div class="semester">

<h2>Schedule</h2>
<table id="sched">
    <tr>
        <th>Class</th>
        <th>Key Due Dates</th>
    </tr>

    {% for session in page.course_sessions %}
        {% assign current_session_page = false %}
    <tr>
        <td>
            <!-- In Class -->
            {% if session.class %}
            <div class="date">{{ session.class.date }}</div>

            {% if session.class.file %}
                {% assign page_found = false %}
                {% for session_page in site.sessions %}
                    {% if page_found == false and session_page.name == session.class.file %}
                        {% assign page_found = true %}
                        {% assign current_session_page = session_page %}
                        <div class="assgn">
                            <a href="{{ session_page.url | prepend:site.baseurl }}">{{ session_page.title }}</a>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% endif %}
        </td>
        <td>
            <!-- Due Dates -->
            {% if current_session_page.due %}
            <ul class="due">
                {% for item in current_session_page.due %}
                <li class="assgn">
                    <span class="due-date">{{ item.date }}</span> -
                {% if item.file %}
                <!-- With file -->
                {% assign page_found = false %}
                {% for assgn_page in site.assignments %}
                    {% if page_found == false and assgn_page.name == item.file %}
                        {% assign page_found = true %}
                        <a href="{{ assgn_page.url | prepend:site.baseurl }}">
                          {{ assgn_page.title }}</a>
                    {% endif %}
                {% endfor %}

                {% else %}
                <!-- Without file -->
                    {{ item.name }}
                {% endif %}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </td>

    </tr>
    {% endfor %}
</table>
</div>
